@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: theme('fontFamily.sans');
  color: #f9fafb;
  background-color: #070b12;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #070b12;
}

#root {
  min-height: 100vh;
}
